.sell-form{
    .form-group{
        input:not([type='checkbox']),select,.select2-selection--single{
            border:1px solid #ccc;
            border-radius: 0;
            height: 37px;
            .select2-selection__rendered{
                margin-top: 4px;
            }
        }
    }
}