.users-system{
    h1.main-title{
        text-align: center;
        margin: 15px 0;
        background-color: $brand;
        padding: 20px;
        border-radius: 4px;
        color: #fff;
        font-weight: bold;
        font-size: 2em;
    }
    .peppers-form{
        border-radius: 4px;
        width: 60%;
        margin: auto;
        background-color: $lightgrey;
        form{
            padding: 25px;
            display: block;
        }
        label{
            display: block;
            font-weight: bold;
            font-size: 1.1em;
        }
        input{
            padding: 10px;
            border-radius: 4px;
            border:0;
            width: 100%;
        }
        .submit-btn{
            display: block;
            background-color: $brand;
            padding: 10px;
            border:0;
            border-radius:4px;
            color: #fff;
            width: 100%;
        }
        .account-form-notice{
            font-size: 1.1em;
            a{
                color: $brand;
                font-weight: bold;
            }
        }
        .social-media-icons{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-inline-start: 0;
            margin-bottom: 0;
            li{
                flex: 1;
                text-align: center;
                margin: 10px;
                a{
                    width: 100%;
                    display: block;
                    color:#fff;
                    padding: 10px;
                    border-radius: 4px;
                    &:hover{
                        text-decoration: none;
                    }
                }
                &.facebook{
                    a{
                        background-color: #3b5998;
                        transition: 0.3s all ease;
                        &:hover{
                            background-color: #2e467a;
                            transition: 0.3s all ease;
                        }
                    }
                }
                &.google{
                    a{
                        background-color: #DB4437;
                        transition: 0.3s all ease;
                        &:hover{
                            background-color: #bd4136;
                            transition: 0.3s all ease;
                        }
                    }
                }
                &.twitter{
                    a{
                        background-color: #00acee;
                        transition: 0.3s all ease;
                        &:hover{
                            background-color: #0f93c7;
                            transition: 0.3s all ease;
                        }
                    }
                }
            }
        }
    }
}
.user-profile{
    padding: 50px 0;
    .profile-sidebar{
        background-color: $lightgrey;
        padding: 20px;
        border-radius: 4px;
        li{
            border-left: 0 solid $brand;
            margin-bottom: 15px;
            transition: all ease 0.3s;
            a{
                color: $black;
                padding: 0 10px;
                transition: all ease 0.3s;
                i{
                    color: $brand;
                    margin-right: 10px;
                }
                &:hover{
                    text-decoration: none;
                }
            }
            &:last-child{
                margin-bottom: 0px;
            }
            &:hover{
                border-left: 5px solid $brand;
                transition: all ease 0.3s;
                a{
                    color: $brand;
                    font-weight: bold;
                    transition: all ease 0.3s;
                }
            }
            &.active{
                border-left: 5px solid $brand;
                a{
                    color: $brand;
                    font-weight: bold;
                }
            }
        }
    }
    .profile-orders-statistics{
        display: flex;
        li{
            flex:1;
            margin: 10px;
            background-color: $lightgrey;
            padding: 30px;
            text-align: center;
            border-radius: 4px;
            i{
                color: $brand;
                font-size: 2em;
                margin-bottom: 15px;
            }
        }
    }
    .edit-profile-form{
        label{
            display: block;
            font-weight: bold;
        }
        input,select{
            width: 100%;
            padding: 10px;
            border-radius: 4px;
            background-color: $lightgrey;
            border:0;
        }
        .submit-btn{
            background-color: $brand;
            padding: 10px;
            border:0;
            border-radius:4px;
            color: #fff;
        }
    }
}