body {
  line-height: 22px !important;
  letter-spacing: 0.03em;
  font-family: "ProximaNova Light" !important;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  padding: 0;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #0d0c0c;
  -webkit-font-smoothing: antialiased;
}

.btn-brand {
  background-color: #c89a4d;
  color: #fff;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  display: none;
  overflow-y: hidden;
}
.dark-overlay.active {
  display: block;
}

.upper-nav {
  background: #000;
}
.upper-nav ul {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: space-between;
}
.upper-nav ul li {
  padding: 10px 0px;
}
.upper-nav ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  font-family: "ProximaNova Bold";
}

.navbar {
  background-color: #fff;
}
.navbar .navbar-brand img {
  width: auto;
  height: 60px;
}
.navbar .nav-item {
  margin: 0 20px;
}
.navbar .nav-item .nav-link {
  color: #000;
}
.navbar .mega-menu {
  display: none;
  position: fixed;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  top: 110px;
  z-index: 9999;
  height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #fff;
  width: 80%;
  left: 10%;
  right: 10%;
}
.navbar .mega-menu .main-title {
  color: #c89a4d;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1em;
  display: block;
  margin-bottom: 10px;
}
.navbar .mega-menu .sub-items-list {
  margin-bottom: 25px;
}
.navbar .mega-menu .sub-items-list li a {
  color: #777;
}

@media screen and (max-width: 768px) {
  .upper-nav ul {
    flex-direction: column;
    text-align: center;
  }
  .upper-nav ul li {
    padding: 5px;
  }
}
.static-page {
  margin-top: 40px;
}
.static-page .static-title {
  color: #c89a4d;
  font-weight: bold;
}
.static-page p,
.static-page ul {
  color: #777;
}

/* Authenticity Page */
.static-page.authenticity .nav-tabs {
  background-color: #ebebeb;
  padding: 15px;
  margin-bottom: 0;
}
.static-page.authenticity .nav-tabs li {
  font-size: 1.1em;
  margin-bottom: 15px;
  display: block;
  width: 100%;
}
.static-page.authenticity .nav-tabs li a {
  padding: 10px;
  color: #000;
  display: block;
  border-radius: 0;
}
.static-page.authenticity .nav-tabs li a.active {
  background-color: #c89a4d;
  color: #fff;
  font-weight: bold;
}
.static-page.authenticity .nav-tabs li:hover {
  background-color: #d1af73;
  transition: all ease 0.3s;
}
.static-page.authenticity .nav-tabs li:hover a {
  text-decoration: none;
}
.static-page.authenticity .single-auth-item {
  position: relative;
  margin-bottom: 15px;
}
.static-page.authenticity .single-auth-item p {
  position: absolute;
  color: #fff;
  font-size: 1.2em;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  font-weight: bold;
}
.static-page.authenticity .single-auth-item .content-above {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 0.8em;
  color: #fff;
  width: 90%;
}

/* FAQS Page */
.faqs .main-title,
.returns-page .main-title,
.shipping-page .main-title,
.privacy-policy .main-title,
.careers .main-title {
  font-size: 2.5em;
  text-align: center;
}
.faqs .static-title,
.returns-page .static-title,
.shipping-page .static-title,
.privacy-policy .static-title,
.careers .static-title {
  font-size: 1.5em;
}

.consigment-page .fff {
  width: 68%;
  margin: 0 auto;
  padding-top: 40px;
}
.consigment-page .fff h1 {
  text-align: center;
  font-weight: 300;
  font-size: 2em;
  color: #0d0c0c;
}
.consigment-page .fff h3 {
  text-transform: uppercase;
  color: #c8a26e;
  margin-bottom: 8px;
  font-size: 18px;
  font-family: ProximaNova bold;
  padding-left: 40px;
  text-align: left;
}
.consigment-page .fff p {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #0d0c0c;
  font-family: "ProximaNova Light";
  -webkit-font-smoothing: antialiased;
  padding-top: 0;
  text-align: left;
}
