@import 'vars';
body{
    font-family: 'Source Sans Pro' , sans-serif;
}
.admin-form{
    .form-group{
        padding: 10px;
        margin-bottom: 25px;
        background-color: $lightgrey;
        border-radius: 4px;
        h3{
            background-color: $brand;
            color: #fff;
            border-radius: 4px;
            padding: 15px;
            margin-bottom: 15px;
            font-size: 1.5em;
            font-weight: bold;
            font-family: 'Raleway' , 'tahoma';
        }
    }
    label{
        font-weight: bold;
    }
    .form-control{
        margin-bottom: 15px;
    }
}