body {
    line-height: 22px !important;
    letter-spacing: .03em;
    font-family: 'ProximaNova Light' !important;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    padding: 0;
    line-height: 22px;
    letter-spacing: .03em;
    color: #0d0c0c;
    -webkit-font-smoothing: antialiased;
}
@import "vars";
@import "layout/navbar";
@import "layout/components";
@import "pages/home";
@import "pages/static";
@import "pages/users";
@import "pages/products";
@import "pages/cart";
@import "pages/checkout";
@import "pages/contact";
@import "pages/sell";



